@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');
/*font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;*/
/* Let's get this party started */

::-webkit-scrollbar {

    width: 6px;

    background: #f6f6f6 ;

}
/* Track */

::-webkit-scrollbar-track {

    border-radius: 0px;

}

/* Handle */

::-webkit-scrollbar-thumb {

    background: #1C1C1C; 

}
::-webkit-scrollbar-thumb:window-inactive {

  background: #1C1C1C; 

}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    font-size:12px;
    font-weight:400;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
p{
  margin:0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;

}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


a,button {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

p{
  margin: 0;
}
a {
  cursor: pointer !important;
  text-decoration: none !important;
}
a:hover,a:active,a:focus,a:visited{
  text-decoration: none !important;
}

input, textarea, a, button {
  outline: none !important;
  text-decoration: none;
}

.margin-auto{
  margin: 0 auto;
  float: none !important;
}

/* img hover */
.img-hover {
  overflow: hidden;
  display: block;
}

.img-hover > img {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

img{
  max-width: 100%;
}
/* end img hover */
html,body{
  height: 100%;
}
.main-wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
  overflow: hidden;
  /*-webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;*/
}
.container{
  position: relative;
  width: 100%;
  max-width: 1600px;
  padding: 0 70px;
}
#header{
  position: relative;
  height: 115px;
}
.top_head{
  position: relative;
  border-bottom: 0; 
  padding: 10px 0;
  background-color: rgba(240,229,222,0.5);
}
.txt_discount{
  text-align: center;
}
.txt_discount p{
  color: #1C1C1C;
  font-size: 14px;
}
.txt_discount p span{
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin-right:5px; 
}
.main_header{
  position: relative;
  padding: 15px 0;
}
.logo_site > a{
  display: table;
  margin: auto;
}
.main_menu{
  display: table;
  width: 100%;
  text-align: center;
  margin: auto;
}
.main_menu > li{
  display: table-cell;
}
.main_menu > li > a{
  display: inline-block;
  color: #1C1C1C;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
}
.main_menu > li > a:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #2B2B2B;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main_menu > li > a:after{
  content: '';
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #2B2B2B;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main_menu > li > a:hover:before,
.main_menu > li > a:hover:after{
  width: 85%;
}
.main_menu > li.active > a{
  font-weight: 700;
}
#footer{
  position: relative;
  padding: 15px 0;
  height: 60px;
  margin-top: -60px;
}
.ft_menu li{
  display: inline-block;
  margin-right: 30px;
}
.ft_menu li:last-child{
  margin-right: 0;
}
.ft_menu li a{
  display: inline-block;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
}
.ft_menu li a:hover{
  color: #CB639B;
}
.form_subscribe{
  margin-left: 30px;
  position: relative;
}
.form_subscribe .form-control{
  border:0;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #707070;
  height: 30px;
  padding-left: 30px;
  color: #1C1C1C;
  font-size: 14px;
  background-color: transparent;
}
.email_icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.email_icon > img{
  margin: auto;
}
.form_subscribe .form-control::-moz-placeholder {
  color: rgba(28,28,28,0.72);
  font-size: 14px;
  font-weight: 300;
}
.form_subscribe .form-control:-ms-input-placeholder {
  color: rgba(28,28,28,0.72);
  font-size: 14px;
  font-weight: 300;
}
.form_subscribe .form-control::-webkit-input-placeholder {
  color: rgba(28,28,28,0.72);
  font-size: 14px;
  font-weight: 300;
}
.copy_right p{
  color: #1C1C1C;
  font-weight: 300;
  font-size: 14px;
}
.layout_content_page{
  position: relative;
}
.layout_content_page .container{
  position: relative;
}
.align_center{
  text-align: center;
}
.sc_head{
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
.sc_head p{
  color: #1C1C1C;
  font-size: 15px;
  margin-top: 20px;
}
.title_page{
  color: #1C1C1C;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: capitalize;
  line-height: 1;
}
.bd_lr_50{
  padding: 0 50px;
}
.bk_packages{
  padding-right: 30px;
}
.bk_packages .row{
  margin: 0 -5px;
}
.bk_packages .row > div{
  padding: 0 5px;
}
.box_subscription_packages{
  position: relative;
  border:2px solid #1C1C1C;
  padding: 33px 20px;
  height: 100%;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
}
.box_subscription_packages:before{
  content: '';
  position: absolute;
  bottom: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}
.box_subscription_packages:hover:before{
  bottom: 0%;
  left: 0%;
}
.box_subscription_middle{
  margin: auto;
}
.box_subscription_packages h2{
  color: #1C1C1C;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box_subscription_packages p{
  margin: 20px 0;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn_prim{
  box-shadow: none !important;
  outline: none !important;
  background-color: #1C1C1C;
  border:0;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 0;
  padding: 12px 10px;
}
.btn_prim:hover{
  color: #ffffff;
  background-color: #2B2B2B;
  border-color: #2B2B2B;
}
.box_subscription_packages:hover h2,
.box_subscription_packages:hover p{
  color: #ffffff;
}
.box_subscription_packages:hover .btn_prim{
  background-color: #2B2B2B;
  color: #ffffff;
}
.product_item_box{
  position: relative;
  padding: 0 20px 35px;
  height: 100%;
  z-index: 1;
}
.product_pic{
  position: relative;
  display: block;
  top: -20px;
  height: 150px;
}
.product_pic > img{
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.cption_txt > h2{
  color: #FFFFFF;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-transform: capitalize;
}
.cption_txt > h2 > a{
  margin: auto 0;
  display: inline-block;
  color: #fff;
}
.cption_txt p{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  height: 54px;
  overflow: hidden;
  margin-top: 10px;
}
.product_action{
  position: absolute;
  width: calc(100% - 40px);
  bottom: -22px;
  left: 20px;
  background-color: #1C1C1C;
  height: 45px;
}
.btn_addCart{
  height: 100%;
  display: flex;
  background-color: #2B2B2B;
  padding: 0 25px 0 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: .8s ease;
}
.btn_more,.btn_lang{
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: .8s ease;
}
.cart_fix{
  overflow: hidden;
  transition: .8s ease;
}
.btn_addCart:after,.btn_more:after,.btn_lang:after,.cart_fix:after{
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(255,255,255,0.05);
  transform: translateY(150%);
  transition: 0.5s;
  border-radius: 200px;
  z-index: -1;
  left: calc((1 - 1) * 50%);
  transition-delay: calc((2 - 1) * 0.1s);
}
.btn_addCart:hover:after,
.btn_more:hover:after,
.btn_lang:hover:after,
.cart_fix:hover:after {
    transform: translateY(0) scale(3);
    border-radius: 0;
}
.btn_addCart > img{
  margin: auto;
}
.product_salary{
  position: relative;
  padding: 0 20px 5px 25px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
}
.product_salary:before{
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: #fff;
  z-index: 1;
}
.product_salary span{
  display: inline-block;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  line-height: 1;
}
.btn_more{
  display: flex;
  height: 100%;
  background-color: #2B2B2B;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 12px;
}
.btn_more > img{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 15px;
  margin-top: 2px;
}
.btn_more:hover{
  color: #fff;
}
.vh_screen{
  min-height: calc(100vh - 175px);
  position: relative;
}
.vh_screen:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% + 10px);
  height: 100%;
  background-color: #F0E5DE;
}
.bk_lang{
  position: fixed;
  z-index: 9;
  bottom: 85px;
  left: 10px;
}
.bk_lang a{
  display: block;
  width: 45px;
  height: 45px;
  background-color: #2B2B2B;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  text-align: center;
  padding: 12px 10px;
}
.bk_lang a.active{
  background-color: #1C1C1C;
  font-weight: 700;
}
.cart_fix{
  position: fixed;
  z-index: 9;
  bottom: 85px;
  right: 10px;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #1C1C1C;
  padding: 12px 10px;
}
.cart_fix > img{
  width: 20px;
  margin: auto;
}
.cart_num{
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #FF7B7B;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 1;
  font-weight: 700;
  font-size: 9px;
  text-align: center;
  padding: 4px 0;
}
.social_site{
  position: fixed;
  top: 250px;
  right: 20px;
  z-index: 9;
}
.social_site:before{
  content: '';
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 60px;
  background-color: #1C1C1C;
}
.social_site:after{
  content: '';
  position: absolute;
  bottom: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 60px;
  background-color: #1C1C1C;
}
.social_site li{
  display: block;
  margin-bottom: 5px;
}
.social_site li:last-child{
  margin-bottom: 0;
}
.social_site li > a{
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px;
  color: #1C1C1C;
  font-size: 18px;
}
.wrt_right{
  position: absolute;
  top: 60px;
  right: 0;
  max-width: 150px;
}
.wrt_left{
  position: absolute;
  top: 100px;
  left: 0;
  max-width: 130px;
}

#header .menu-trigger {
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 20px;
  text-indent: -9999em;
  z-index: 99;
  display: none;
}
#header .menu-trigger span,
#header .menu-trigger span:before,
#header .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1B1B1B;
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  right: 0;
  border-radius: 25px;
}
#header .menu-trigger span:before,
#header .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1B1B1B;
  display: block;
  position: absolute;
  width: 13px;
  height: 2px;
  right: 0;
}
#header .menu-trigger span:after {
  width: 13px;
}
#header .menu-trigger span:before,
#header .menu-trigger span:after {
  content: "";
}
#header .menu-trigger span {
  top: 50%;
  transform: translateY(-50%);
}
#header .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -8px;
  z-index: 10;
}
#header .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 8px;
  right: auto;
  left: 0;
}

#header .menu-trigger.active span,
#header .menu-trigger.active span:before,
#header .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

#header .menu-trigger.active span:before {
  -moz-transform: translateY(3px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(3px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(3px) translateX(1px) rotate(45deg);
  transform: translateY(3px) translateX(1px) rotate(45deg);
  background-color:#1B1B1B;
}
#header .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color:#1B1B1B;
}
#header .menu-trigger:hover span:before,
#header .menu-trigger:hover span:after{
  width: 100%;
}
/*mobile menu*/
/*menu*/
.menu-mobile{
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background:#ffffff;
  z-index: 1001;
  overflow-y:auto; 
  -webkit-transform:translateX(275px);
  -moz-transform:translateX(275px);
  -ms-transform:translateX(275px);
  -o-transform:translateX(275px);
  transform:translateX(275px);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  -webkit-box-shadow: -2px 0 20px 0 rgba(33, 23, 23, 0.2);
  box-shadow: -2px 0 20px 0 rgba(33, 23, 23, 0.2);
}
.brand-area{
  position: relative;
  padding-top: 40px;
}
.close_menu_side{
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 24px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-repeat: no-repeat;
  background-image: url(../images/close-menu.svg) !important;
  background-position: center;
  background-size: 15px;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  z-index: 1;
}
.close_menu:hover{
  background-color: #767676;
  color: #fff;
}
.brand-area a {
    width:80%;
    height: auto;
    display: block;
    background-size: contain;
    margin: 0px auto 0 auto;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.brand-area a > img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.mmenu > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.mmenu > ul li a {
    display: block;
    border-bottom: 1px solid rgba(28,28,28,0.05);
    color: #1C1C1C;
    font-size: 16px;
    padding: 10px;
    transition: all .3s;
    text-transform: uppercase;
}
.mmenu > ul li.active a{
  font-weight: 700;
}
.mmenu > ul li a > i{
  margin-left: 5px;
}
.mmenu > ul li a:hover {
    background: #1C1C1C;
    color: #ffffff;
    border-color: #1C1C1C;
}
.mmenu .dropdown-toggle::after{
  float: right;
  display: none;
}
.mmenu .dropdown-toggle:before{
  content: '\f107';
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: 'Font Awesome 5 Pro';
  font-size: 18px;
  font-weight: 300;
}
.mmenu .dropdown-menu{
  position: static !important;
  transform: none !important;
  box-shadow: none;
  border-radius: 0;
  border:0;
  float: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.mmenu > ul li .dropdown-menu a{
  font-size: 12px;
  font-weight: 400;
}
.register-mobile{
  margin-top: 0 !important;
}
.register-mobile li:last-child > a{
  border-bottom: 0;
}
.plusIcon{
  font-size: 14px;
  margin-left: 5px;
}
.m-overlay {
    position: fixed;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #333;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.menu-toggle {
    overflow: hidden;
}
.menu-toggle .m-overlay {
    opacity: 0.6;
    visibility: visible;
}
.menu-toggle .menu-mobile {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

}
/*.menu-toggle .main-wrapper{
  -webkit-transform:translate3d(-250px,0,0);
  -moz-transform:translate3d(-250px,0,0);
  -ms-transform:translate3d(-250px,0,0);
  -o-transform:translate3d(-250px,0,0);
  transform:translate3d(-250px,0,0);
}*/
html.menu-toggle{
  overflow: hidden;
}
.social_site_mobile{
  display: none;
  margin:20px auto;
  text-align: center;
}
.social_site_mobile li{
  float: left;
  margin-right: 5px;
}
.social_site_mobile li:last-child{
  margin-right: 0;
}
.social_site_mobile li  a{
  display: block;
  width: 35px;
  height: 35px;
  background-color: #1C1C1C;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 9px 2px;
  line-height: 1;
}
/**========================
INNER PAGE
==========================**/
.page_static{
  position: relative;
  padding: 50px 0 30px;
}
.head_page_st{
  margin-bottom: 50px;
}
.head_page_st h2{
  color: #1C1C1C;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: capitalize;
}
.head_page_st p{
  color:#1C1C1C;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.editor_content p{
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 300;
  white-space: pre-line;
  margin-bottom: 20px;
}
.editor_content h3{
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.content_about{
  padding: 0 200px 0 100px;
}
.content_about h2{
  color: #1C1C1C;
  font-weight: 700;
  font-size: 20px;
}
.content_about p{
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}
.screen_about .vh_screen:before{
  height: 140px;
  width: 77%;
}
.auth_pages .vh_screen:before{
  display: none;
}
.auth_page_middle{
  height: calc(100vh - 205px);
}
.auth_page_content{
  width: 100%;
}
.head_auth h2{
  color: #1C1C1C;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-transform: capitalize;
  line-height: 1;
}
.head_auth{
  margin-bottom: 35px;
  /*padding-left: 15px;*/
}
.form_st .form-group{
  margin-bottom: 30px;
  position: relative;
}
.form_st .form-control{
  border:1px solid #1C1C1C;
  border-radius: 0;
  box-shadow: none;
  height: 48px;
  padding-left: 30px;
  color: #525252;
  font-size: 16px;
  font-weight: 300;
}
.form_st .form-control::-moz-placeholder {
  color: #525252;
  font-size: 12px;
  font-weight: 300;
}
.form_st .form-control:-ms-input-placeholder {
  color: #525252;
  font-size: 12px;
  font-weight: 300;
}
.form_st .form-control::-webkit-input-placeholder {
  color: #525252;
  font-size: 12px;
  font-weight: 300;
}
.frm_label{
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: #ffffff;
  color: #1C1C1C;
  font-size: 14px;
  padding: 0 10px;
  z-index: 1;
  margin: 0;
}
.btn_forget{
  display: inline-block;
  color: #1C1C1C;
  font-size: 14px;
  text-decoration: underline !important;
}
.frm_txt{
  text-align: center;
  color: #525252;
  font-size: 14px;
  margin-top: 20px;
}
.frm_txt > a{
  display: inline-block;
  color: #1C1C1C;
  font-size: 14px;
  text-decoration: underline !important;
  margin-left: 5px;
}
.confirm_input{
  width: 40px;
  height: 40px;
  border:1px solid #1C1C1C;
  text-align: center;
  color: #525252;
  font-size: 16px;
  font-weight: 500;
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
.confirm_input:last-child{
  margin-right: 0;
}
.group_inputs_confirm{
  display: table;
  width: 100%;
  text-align: center;
}
.timer_confirm{
  margin: 15px 0;
  text-align: center;
}
.timer_confirm p{
  color: #1C1C1C;
  font-weight: 300;
  font-size: 14px;
}
.resend_confirm{
  margin: 15px 0;
  color: #1C1C1C;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
.resend_confirm > a{
  display: inline-block;
  margin-left: 5px;
  color: #CB639B;
  font-weight: 500;
  text-decoration: underline !important;
}
.cn_form.content-scroll{
  height: 250px;
}
.cn_form{
  margin: 0 0 20px;
}
.content-scroll .form-group:nth-child(1){
  padding-top: 5px;
}
.content-scroll .form-group:nth-child(1) .frm_label{
  top: -5px;
}
.mCSB_inside > .mCSB_container{
  margin-right: 0;
  margin-left: 15px;
}
.mCSB_scrollTools{
  width: 10px;
  opacity: 1;
  right: auto;
  left: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width: 5px;
  background-color: #1C1C1C !important;
  border-radius: 0;
}
.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail{
  width: 5px;
  background-color: #EFEFEF !important;
  opacity: 1;
  border-radius: 0;
}
.ftr_bottom{
  padding-left: 15px;
}
.form_st .btn_prim{
  text-transform: uppercase;
}
.cart_page_middle{
  height: calc(100vh - 205px);
}
.content_cartLayout{
  width: 100%;
}
.form_copon{
  position: relative;
  margin-bottom: 20px;
}
.form_copon .form-control{
  border:1px solid #1C1C1C;
  border-radius: 0;
  box-shadow: none;
  height: 48px;
  padding-left: 30px;
  color: #525252;
  font-size: 16px;
  font-weight: 300;
  padding-right: 100px;
}
.form_copon .form-control::-moz-placeholder {
  color: #525252;
  font-size: 12px;
  font-weight: 300;
}
.form_copon .form-control:-ms-input-placeholder {
  color: #525252;
  font-size: 12px;
  font-weight: 300;
}
.form_copon .form-control::-webkit-input-placeholder {
  color: #525252;
  font-size: 12px;
  font-weight: 300;
}
.form_copon .btn_prim{
  position: absolute;
  top: 3px;
  right: 3px;
  height: 42px;
  width: 80px;
  padding: 8px;
}
.rw_info{
  margin-bottom: 15px;
}
.rw_info h3{
  color: #1C1C1C;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Playfair Display', serif;
}
.rw_info p{
  color: #1C1C1C;
  font-weight: 300;
  font-size: 14px;
}
.rw_info p span{
  display: inline-block;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-right: 5px;
}
.rw_info_total{
  background-color: #F0E5DE;
  padding: 10px 15px;
}
.item_box_cart{
  position: relative;
  margin-bottom: 20px;
  border:2px solid #1C1C1C;
  padding: 20px 60px 20px 30px;
}
.item_box_cart h3{
  color: #1C1C1C;
  font-weight: 700;
  font-size:18px;
  margin-bottom: 10px;
}
.item_box_cart h2{
  color: #1C1C1C;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
}
.item_box_cart h2 > a{
  display: inline-block;
  color: #1C1C1C;
}
.item_box_cart ul li{
  position: relative;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px;
  margin-bottom: 5px;
}
.item_box_cart ul li:before{
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1C1C1C;
}
.btn_remove_cart{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #1C1C1C;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  border:0;
  width: 50px;
  height: 40px;
}
.box_scroll{
  height: 280px;
}
.content_cart_ver{
  margin-bottom: 20px;
}
.bk_progress{
  position: relative;
  padding-right: 60px;
}
.progress_bar{
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #F5F5F5;
}
.progress_line{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1C1C1C;
  z-index: 1;
}
.progress_value{
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 0;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Playfair Display', serif;
}
.cn_form .row{
  margin: 0 -5px;
}
.cn_form .row > div{
  padding: 0 5px;
}
.item_pay{
  position: relative;
  margin-bottom: 20px;
}
.radio_check{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index:1;
}
.cn_pay{
  position: relative;
  background-color: #F5F5F5;
  border:1px solid #F5F5F5;
  text-align: center;
  padding: 20px 5px;
}
.pay_icon{
  height: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.pay_icon > img{
  margin: auto;
  max-height: 100%;
  mix-blend-mode: luminosity;
  opacity: 0.81;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cn_pay p{
  color: #1C1C1C;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 10px;
}
.item_pay input[type="radio"]:checked ~ .cn_pay{
  background-color: #ffffff;
  border-color: #1C1C1C;
}
.item_pay input[type="radio"]:checked ~ .cn_pay .check_cir {
  opacity: 1;
}
.item_pay input[type="radio"]:checked ~ .cn_pay .pay_icon > img {
    opacity: 1;
    mix-blend-mode: normal;
}
.check_cir{
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-image: url(../images/o-check.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  opacity: 0;
}
.payment_method{
  padding-top: 5px;
  padding-right: 5px;
}
.successful_box{
  text-align: center;
}
.successful_box > img{
  width: 120px;
  margin-bottom: 20px;
}
.successful_box h2{
  color: #1C1C1C;
  font-weight: 700;
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}
.successful_box p{
  color: #1C1C1C;
  font-size: 13px;
  font-weight: 300;
}
.successful_box .btn_prim{
  margin-top: 30px;
}
.single_product .vh_screen:before{
  display: none;
}
.content_inner_pg{
  width: 100%;
}
.single_pic img{
  width: 100%;
}
.single_txt > h2{
  color: #E8B012;
  font-weight: 700;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
}
.single_txt > p{
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
}
.single_point li{
  float: left;
  width: 50%;
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 300;
}
.single_point li:before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1C1C1C;
}
.box_products_dt{
  position: relative;
  background-color: #F0E5DE;
  padding: 30px;
  margin-top: 30px;
}
.title_pto h2{
  color: #1C1C1C;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}
.list_dtproduct .row{
  margin: 0 -5px;
}
.list_dtproduct .row > div{
  padding: 0 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.item_dtproduct{
  position: relative;
  padding: 10px 0;
}
.dt_icon{
  float: left;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.dt_icon > img{
  margin: auto;
  max-height: 100%;
}
.dt_txt{
  margin-left: 50px;
}
.dt_txt p{
  color: #1C1C1C;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  height:40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.dt_txt p span{
  display: inline-block;
  margin: auto auto auto 0;
}
.box_product_addCart{
  position: relative;
  background-color: #1C1C1C;
  height: 45px;
  z-index: 1;
}
.box_product_addCart_rg{
  display: inline-block;
  margin-bottom: 20px;
}
.box_product_addCart .product_salary:before{
  display: none;
}
.quantity{
  position: relative;
  display: inline-block;
  background-color: #2B2B2B;
}
.quantity .count-quat {
    width: 50px;
    height: 45px;
    text-align: center;
    position: relative;
    background-color: transparent;
    margin-left: 25px;
    margin-right: 25px;
    color: #FFFFFF;
    font-size: 22px;
    border: 0;
    font-weight: 700;
    border:0;
    border-radius: 0;
    font-family: 'Playfair Display', serif;
    padding: 0 5px;
}
.inc {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 45px;
    width: 25px;
    border-radius: 0;
    background-color: transparent;
    color: #ffffff;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
    line-height: 45px;
    border:0;
}
.dec {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 45px;
    width: 25px;
    border-radius: 0;
    background-color:transparent;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
    line-height: 45px;
    color: #ffffff;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.box_product_addCart .btn_addCart{
  background-color: transparent;
  padding: 0 20px;
}
.profile_drop > a{
  position: relative;
  display: inline-block;
}
.cc_name{
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #1C1C1C;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}
.profile_drop > a > span{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: #1C1C1C;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile_drop .dropdown-toggle::after{
  display: none;
}
.profile_drop > a > i.fa-angle-down{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-left: 3px;
  color: #1C1C1C;
}
.profile_drop .dropdown-menu{
  background-color: #1C1C1C;
  border-radius: 12px;
  padding: 15px;
  border:0;
  box-shadow: none;
}
.profile_drop .dropdown-menu:before{
    right: 15px;
    top: -20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color:#1c1c1c;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-top-width: 10px;
    border-right-width: 15px;
    border-bottom-width: 10px;
    border-left-width: 15px;
    z-index: 1;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.profile_drop .dropdown-menu li{
  display: block;
  margin-bottom: 10px;
}
.profile_drop .dropdown-menu li:last-child{
  margin-bottom: 0;
}
.profile_drop .dropdown-menu li a{
  display: block;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
  line-height: 20px;
  padding: 0 0 0 30px;
}
.profile_drop .dropdown-menu li a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.profile_drop .dropdown-menu li a span > img{
  margin: auto;
  max-height: 100%;
}
.header_mobile_right{
  display: none !important;
}
.header_mobile_right .profile_drop{
  margin-right: 10px;
}
.box_cart_hers{
  position: relative;
  background-color: #E8B012;
  padding: 20px;
  margin-bottom: 40px;
}
.pdt_15{
  padding-top: 15px;
}
.crt_pic{
  float: left;
  position: relative;
  margin-top: -35px;
}
.crt_pic > img{
  width: 160px;
  height: 140px;
  object-fit: cover;
}
.crt_txt{
  margin-left: 170px;
}
.crt_txt > h2{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Playfair Display', serif;
}
.crt_txt > h2 > a{
  display: inline-block;
  color: #FFFFFF;
}
.crt_txt > p{
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  height: 54px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box_cart_hers .box_product_addCart{
  position: absolute;
  bottom: -20px;
  right: 0;
}
.btn_removeCart{
  height: 100%;
  display: flex;
  background-color: transparent;
  padding: 0 20px;
  position: relative;
}
.btn_removeCart > img{
  margin: auto;
}
.screen_products .vh_screen:before{
  display: none;
}
p.paragraph_head{
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 300;
}
.box_products_hembra{
  position: relative;
  background-color: #F0E5DE;
  padding: 35px 30px 40px;
}
.hembra_products_txt p{
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 300;
}
.box_products_hembra .row{
  margin: 0 -5px;
}
.box_products_hembra .row > div{
  padding: 0 5px;
}
.screen_subscription .vh_screen:before{
  display: none;
}
.headTxt_left p{
  color: #1C1C1C;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}
.headTxt_left p:last-child{
  margin-bottom: 0;
}
.headTxt_left p span{
  display: inline-block;
  margin: 0 3px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.headTxt_right{
  position: relative;
  padding-left:30px;
}
.headTxt_right h3{
  color: #1C1C1C;
  font-weight: 700;
  font-size: 18px;
}
.packages_headTxt .row > div:nth-child(1){
  border-right: 1px solid #E8E8E8;
}
.box_packages_subscription{
  margin-top: 20px;
  background-color: #F0E5DE;
  position: relative;
  padding: 30px;
}
.box_packages_sub_item{
  position: relative;
  border:2px solid #1C1C1C;
  height: 100%;
  padding: 20px;
  z-index: 1;
  overflow: hidden;
}
.box_packages_sub_item:before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #1C1C1C;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
}
.box_packages_sub_item:hover:before{
  bottom: 0%;
  left: 0%;
}
.box_packages_sub_item:hover h3,
.box_packages_sub_item:hover h2,
.box_packages_sub_item:hover li,
.box_packages_sub_item:hover h2 > a{
  color: #ffffff;
}
.box_packages_sub_item:hover .btn_anim{
  color: #ffffff;
  background-color: #2B2B2B;
}
.box_packages_sub_item:hover li:before{
  background-color: #ffffff;
}
.box_packages_subscription .row{
  margin: 0 -5px;
}
.box_packages_subscription .row > div{
  padding: 0 5px;
}

.box_packages_sub_item h3{
  color: #1C1C1C;
  font-weight: 700;
  font-size:18px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box_packages_sub_item h2{
  color: #1C1C1C;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box_packages_sub_item h2 > a{
  display: inline-block;
  color: #1C1C1C;
}
.box_packages_sub_item ul li{
  position: relative;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box_packages_sub_item ul li:before{
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1C1C1C;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.screen_howWorks .vh_screen:before{
  height: 130px;
  width: 77%;
}
.content_how_work .box_subscription_packages{
  height: auto;
}
.how_item_box{
  position: relative;
  padding: 20px 0;
}
.how_icon{
  float: left;
  width: 70px;
  height: 70px;
  background-color: #1C1C1C;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 18px;
}
.how_icon > img{
  margin: auto;
  max-height: 100%;
  max-width: 30px;
}
.how_item_box:nth-child(even) .how_icon{
  background-color: #F0E5DE;
}
.how_txxt{
  margin-left: 90px;
}
.how_txxt h3{
  color: #1C1C1C;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}
.how_txxt p{
  color: #1C1C1C;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}
.how_work_list{
  position: relative;
  margin-top: -120px;
  z-index: 1;
}
.head_order_md{
  position: relative;
  margin-bottom: 30px;
}
.head_order_md:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #EBEBEB;
  transform: translateY(-50%);
}
.head_order_md h2{
  position: relative;
  color: #1C1C1C;
  font-size: 24px;
  font-weight: 700;
  background-color: #ffffff;
  padding: 0 20px 0 0;
}
.head_order_md p{
  position: relative;
  background-color: #ffffff;
  color: #1C1C1C;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  padding: 0 0 0 20px;
}
.order_count{
  height: 100%;
  padding: 0 10px;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  background-color: #2B2B2B;
  line-height: 40px;
}
.product_order_item .box_cart_hers{
  margin-bottom: 0;
}
.history_order{
  position: relative;
  width: 100%;
  background-color: #F0E5DE;
  padding: 20px 20px 10px 20px;
}
.hst_itm{
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
}
.hst_itm:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 40px;
  background-color: #2B2B2B;
}
.hst_itm:last-child{
  padding-right: 0;
  padding-left: 0;
}
.hst_itm:last-child:before{
  display: none;
}
.hst_itm h3{
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
}
.hst_itm p{
  color: #1C1C1C;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  line-height: 1;
}
.product_order_item{
  position: relative;
  margin-bottom: 40px;
}
.order_layout .head_auth{
  padding: 0;
}
.subscribe_order_item .item_box_cart{
  padding: 20px;
}
.subscribe_order_item .history_order {
  background-color: transparent;
  padding: 0;
}
.subscribe_order_item .hst_itm{
  padding-right: 10px;
  margin-right: 10px;
}
.btn_more > img{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn_more:hover > img{
  transform: translateX(5px);
}
.product_item_box:hover .img-hover > img{
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/***



====================================================================
  Loading Transition
====================================================================
 ***/
/* Preloader */
.ctn-preloader {
  align-items: center;
  -webkit-align-items: center;
  display: flex;
  display: -ms-flexbox;
  height: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
  background: #fff;
}
.txt-loading{
  direction: ltr;
}
.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}
/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 1px solid rgba(28, 28, 28, 0.15);
  border-top-color: #1C1C1C;
  height: 100px;
  margin: 0 auto 45px auto;
  width: 100px;
}
/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
  text-align: center;
  user-select: none;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #1C1C1C;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  top:0;
  line-height: 60px;
  position: absolute;
  letter-spacing: 1px;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  font-weight: bold;
  letter-spacing: -8px;
  display: inline-block;
  color: rgba(28, 28, 28, 0.15);
  position: relative;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1px;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {animation-delay: 0.2s;}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {animation-delay: 0.4s;}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {animation-delay: 0.6s;}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {animation-delay: 0.8s;}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before { animation-delay: 1s;}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before { animation-delay: 1.2s;}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before { animation-delay: 1.4s;}
.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
#world-map {
  height: 450px;
}
/* AnimaciĂłn del preloader */
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 767px) {
  .ctn-preloader .animation-preloader .spinner {
    height:100px;
    width: 100px;
  }
}
@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 100px;
    width: 100px;
  }
  .ctn-preloader .animation-preloader .txt-loading .letters-loading {
    font-size: 50px;
    line-height: 50px;
  }
  .ctn-preloader .animation-preloader .txt-loading .letters-loading:before{
    font-size: 50px;
    line-height: 50px;
  }
}
.visible_mobile{
  display: none !important;
}
.bk_progress_mobile{
  display: none;
  position: relative;
  padding-right: 60px;
}

/*.box_subscription_packages{
  text-align: center;
}*/
.screen_about .sc_head,
.screen_howWorks .sc_head{
  position: relative;
  padding: 40px 0;
  margin-bottom: 0;
}
.screen_about .sc_head:before,
.screen_howWorks .sc_head:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: calc(75% + 25px);
  height: 100%;
  background-color: #F0E5DE;
}
.screen_about .vh_screen:before,
.screen_howWorks .vh_screen:before{
  display: none;
}
.frsh_pic{
  position: absolute;
  max-width: 65px;
}
.screen_about .frsh_pic{
  top: 40%;
  right: 10%;
}
.screen_howWorks .frsh_pic{
  top: 70%;
  left: 26%;
}
.screen_products .frsh_pic{
  top: 15%;
  right: 20%;
}
.screen_subscription .frsh_pic{
  top: 3%;
  right: 40%;
}
.bootstrap-datetimepicker-widget{
  border:0;
  border-radius: 0;
  min-width: 250px;
  padding: 0 !important;
  margin: 0;
  -webkit-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.2);
}
.bootstrap-datetimepicker-widget table th{
  font-size: 13px;
}
.bootstrap-datetimepicker-widget table td{
  font-size: 12px;
  font-weight: 300;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
  background-color:#1C1C1C;
}
.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th{
  border-radius: 0;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th{
  border: 0;
}
.bootstrap-datetimepicker-widget table th{
  color:#1C1C1C;
}
.bootstrap-datetimepicker-widget table td.today:before{
  display: none;
}
.bootstrap-datetimepicker-widget table th{
  border-bottom: 0;
}
.subscribe_order_item{
  margin-top: 15px;
}
.menu-toggle body{
  touch-action: none;
  -ms-touch-action: none;
}